h1 {
  color: rgb(70, 68, 68);
  font-family: inherit;
  font-size: 5rem;
  text-align: left;
}

h2 {
  font-family: inherit;
  color: rgb(103, 101, 101);
}

p {
  font-weight: bold;
}

.my-full-name-and-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
